.balance-summary {
    position: relative;
    min-width: 300px;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.balance {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.stats {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.overlay-image {
    position: absolute;
    right: 0;
    transform: translateY(-15%);
    width: 24rem;
    height: auto;
  }

