/* Basic styling for the button */
.btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    box-sizing: border-box;
     /* Space between icon and text */
}

/* Styling for the button icon */
.btn-large .btn-icon {
    font-size: 6.25rem; /* Adjust size if necessary */
}

.btn-small .btn-icon {
    font-size: 3rem; /* Adjust size if necessary */
}

.btn-large, .btn-small {
    border-radius: 2.5rem;
    border: solid 0.125rem rgb(0, 0, 0, 0.5);
}

/* Large Button */
.btn-large {
    width: 100%;
    padding: 2.5rem;
    gap: 2rem;
    font-size: 4rem;
    font-weight: bold;
    background-color: var(--green);
    color: black;
}

.btn-large:hover {
    background-color: #5f8c1f;
}

/* Small Button */
.btn-small {
    width: auto;
    height: auto;
    padding: 0.625rem 2.5rem;
    gap: 1rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--yellow);
    color: black;
}

.btn-small:hover {
    background-color: #d99a3d;
}

/* Icon Only Button */
.icon-only {
    width: 5rem;
    height: 5rem;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-only:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.icon-only .btn-icon {
    font-size: 5rem;
}

/* Default Button */
.text-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    gap: 1rem;
    font-size: 3rem;
    margin: 0;
    padding: 1rem 1rem;
    border-radius: 5rem;
    border: 0.2rem solid var(--green);
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.text-button:hover {
    background-color: rgba(132, 174, 38, 0.1);
    color: #5f8c1f;
    transform: scale(1.05);
}

.text-button.active {
    background-color: var(--green);
    color: white;
}

.text-button .btn-icon {
    font-size: 4rem;
}

.toggle-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.toggle-buttons .text-button {
    flex: 1;
    text-align: center;
    padding: 1.5rem 0;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    font-size: 2rem;
    background-color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.toggle-buttons .text-button.active {
    border: 0.25rem solid var(--green);
    background-color: var(--green);
    color: white;
    font-weight: bold;
}
