.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.header-title {
    color: var(--green);
    cursor: pointer;
}

.header-nav {
    display: flex;
    gap: 1rem;
}

.header-greeting {
    font-style: normal;
    font-size: 3rem;
}

.header-name {
    color: var(--green);
}

.header-btn {
    display: block;
    width: 7rem;
    height: 7rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 7.5rem;
    transition: background-color 0.3s;
    border: solid rgba(0, 0, 0, 0.5);
}

.addtransaction {
    background: var(--yellow);
}

.profile {
    background: var(--green);
}

.profile-img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}

.header-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.profile-dropdown-container {
    position: relative; /* Add this line */
    display: inline-block; /* Or other suitable display */
}

.dropdown {
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 150px;
    overflow: hidden;
}

.dropdown button {
    width: 100%;
    padding: 2rem 2rem;
    text-align: left;
    border: none;
    background: transparent;
    color: #333;
}

.dropdown button:hover {
    background-color: #f0f0f0;
}

.dropdown-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}