@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --green: #84AE26;
    --yellow: #F1B249;
    --red: #CD3738;
    --gray: rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Obviously';
    src: url('/Obviously-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Use font=weight:500 to use Medium font style */
@font-face {
    font-family: 'Obviously';
    src: url('/Obviously-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Use font=weight:600 to use SemiBold font style */
@font-face {
    font-family: 'Obviously';
    src: url('/Obviously-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Obviously';
    src: url('/Obviously-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Global Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Global text color */
html {
    font-size: 8px;
    color: black;
}

body, header {
    margin: 0;
    padding: 0;
    font-family: 'Obviously', 'Poppins', Arial, sans-serif;
    background-color: white;
    margin: 5rem;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 2rem;
    font-weight: normal;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Text color classes */
.main-color {
    color: var(--green);
}

.yellow-color {
    color: var(--yellow);
}

.red-color {
    color: var(--red);
}

.gray-color {
    color: var(--gray);
}

.white-color {
    color: white;
}

/* Background color classes */
.bg-main-color {
    background-color: var(--green);
}

.bg-yellow-color {
    background-color: var(--yellow);
}

.bg-red-color {
    background-color: var(--red);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-white {
    background-color: white;
}