.login-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-top: 8rem;
}

.login-form-container{
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-page img{
    grid-column: span 2;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.login-form-container h1{
    padding-bottom: 10rem;
}

.register-anchor{
    margin-top: 2.5rem;
    font-size: 2.5rem;
}

.register-anchor a{
    color: inherit;
}

.register-anchor a:hover, .register-anchor a:focus, .register-anchor a:active{
    color:inherit;
}

.form-container{
    width: 60%;
}
