.login-page{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    height: calc(100svh - 10rem);
    box-sizing: border-box;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-page img{
    width: 100%;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
}

.login-form-container h1{
    padding-bottom: 10rem;
}

.register-anchor{
    margin-top: 2.5rem;
    font-size: 2.5rem;
}

.register-anchor a{
    color: inherit;
}

.register-anchor a:hover, .register-anchor a:focus, .register-anchor a:active{
    color:inherit;
}

.login-input-container{
    width: 80%;
}

@media (max-width: 600px) {
    .login-page, .register-page {
        display: flex;
        flex-direction: column;
    }

    .login-form-container h1{
        padding-bottom: 5rem;
    }

    .login-page img {
        width: 300px;
    }

    .login-input-container{
        width: 100%;
    }
}
