.profile-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 2rem;
}

.header{
    grid-column: span 5;
}

.profile-picture-section{
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.profile-picture-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-picture {
    width: 60rem;
    height: 60rem;
    border-radius: 50%;
    background-color: #84AE26;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.2rem solid #84AE26;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}
  
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn.btn-text-button{
    font-size: 3.5rem;
    font-weight: 600;
}

.btn.btn-text-button span{
    text-decoration: underline;
}

.personal-info-section{
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    padding: 5rem;

    border: 1px solid #ccc;
    border-radius: 2rem;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* soft shadow */
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

.title-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.title-button-container h2{
    font-size: 4rem;
    font-weight: 600;
}

.user-name{
    display: flex;
    align-items: center;
    gap: 40rem;
}

.info-item{
    display:flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.info-item label{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.info-item p{
    font-size: 3.5rem;
    font-weight: 500;
}

.separator {
    grid-column: 1 / -1;
    height: 1px;
    background-color: #000000;
    margin: 1rem 0;
}

.info-item-monthly-budget{
    margin-top: 4rem;
}

.info-item-monthly-budget h2{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.info-item-monthly-budget h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.upload-modal-content {
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.upload-photo-container{
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-container {
    width: 200px;
    height: 200px;
    margin: 1rem auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;

    font-size: 2rem;
}
  
.custom-file-label:hover {
    background-color: rgba(0, 0, 0, 0.3) /* Darker indigo */
}

.form-container{
    width: 100%
}

.profile-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
