.register-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-top: 15rem;
}

.register-form-container{
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-page img{
    grid-column: span 2;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.register-form-container h1{
    padding-bottom: 10rem;
}

